* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 1rem;
}

.header {
    text-align: center;
    padding: 2rem 0;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.subtitle {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

nav {
    margin-bottom: 2rem;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #007bff;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 0.5rem;
}

.serieInfo {
    margin-top: 2rem;
}

.serieInfoContent {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.serieInfoImg {
    flex-shrink: 0;
}

.logoDoctorWho {
    width: 35rem;
    height: 20rem;
    border-radius: 0.75rem;
}

.serieInfoText {
    width: 50%;
    flex-grow: 1;
    text-align: justify;
    margin-right: 3rem;
}

.infoCardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
}

.infoCard {
    width: 40%;
    border-radius: 1rem;
    border: solid 0.05rem #b6b6b6;
    box-shadow: 1rem 0 1rem 0.1rem #b6b6b6;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    margin:  2rem;
}

.infoCard:hover {
    transform: scale(1.02);
}

.infoContent {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.infoImg {
    flex-shrink: 0;
}

.doctorImage {
    width: 15rem;
    height: auto;
    border-radius: 0.75rem;
}

.infoCardText {
    text-align: left;
}

#section1 {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

@media (max-width: 768px ) {
    .serieInfoContent {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logoDoctorWho{
        width: 100%;
        height: auto;
    }
    .infoCard{
        width: 100%;
    }
    .infoContent {
        flex-direction: column;
        align-items: center;
        text-align: center; /* alinha o texto ao centro */
    }

    .infoImg, .doctorImage {
        width: 100%;
        height: auto;
    }

    .infoCardText {
        text-align: center; /* ajusta o texto para o centro */
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    nav a {
        font-size: 1rem;
    }

    .serieInfoText {
        width: 100%;
        margin-right: 0;
    }

    .infoCardsContainer {
        gap: 1.5rem;
    }

    .infoCard {
        width: 100%;
    }

    .doctorImage {
        width: 10rem;
    }
}

@media (max-width: 320px) {
    .title {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 0.875rem;
    }

    nav a {
        font-size: 0.875rem;
    }

    .serieInfoText {
        width: 100%;
        margin-right: 0;
    }

    .infoCardsContainer {
        gap: 1rem;
    }

    .infoCard {
        width: 100%;
    }

    .doctorImage {
        width: 8rem;
    }
}
